fastapi==0.116.1
transformers[torch]==4.49.0
sentence-transformers==5.1.0
datasets==4.0.0
pydantic-settings==2.10.1
torch==2.8.0
uvicorn==0.35.0
accelerate==1.10.0
# dev
ruff==0.12.8
pytest==8.4.1
httpx==0.28.1
