fastapi==0.115.5
transformers[torch]==4.46.2
pydantic-settings==2.6.1
torch==2.5.1
uvicorn==0.32.0
langchain==0.3.7
langchain-community==0.3.7
accelerate==1.1.1
# dev
ruff==0.7.3
pytest==8.3.3
httpx==0.27.2
