fastapi==0.119.1
transformers[torch]==4.57.1
pydantic-settings==2.11.0
torch==2.9.0
uvicorn==0.38.0
langchain==1.0.1
langchain-community==0.4
langchain-huggingface==1.0.0
accelerate==1.11.0
# dev
ruff==0.14.1
pytest==8.4.2
pytest-asyncio==1.2.0
httpx==0.28.1
