fastapi==0.116.1
transformers[torch]==4.46.3
pydantic-settings==2.10.1
torch==2.7.1
uvicorn==0.35.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.72
langchain-huggingface==0.3.1
accelerate==1.9.0
# dev
ruff==0.12.5
pytest==8.4.1
pytest-asyncio==1.1.0
httpx==0.28.1
